<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/minty/bulmaswatch.min.css">

<html>
  <head>
    <title>Delivery1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
